header {
    background-color: #22254b;
    color: #fff;
    padding: 20px 0;
    width: 100%;
  }
  
  .container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 400px;
  }
  
  .container img {
    width: 154px;
    height: 20px;
  }
  
  nav ul {
    list-style: none;
    padding-left: 20px;
    margin: 0;
    display: flex;
    margin-bottom: 0;
  }
  
  nav ul li {
    margin-left: 20px;
    display: flex;
    align-items: center;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
  }
  
  nav ul li a:hover {
    text-decoration: underline;
  }
  
  .login-control button {
    background-color: #fff;
    padding: 5px 10px;
    border-radius: 15px;
    font-size: 13px;
  }

  .login-control span {
    margin-left: 15px;
  }